<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
    {{ pt.snippets.assets.stylesheet('/system/css/system.css') }}

	<title>{{ title }}</title>
</head>
<body>
	
	<div class="pt-body">
	{% block content %}{% endblock content %}	
	</div>	
	
</body>	
</html>
