<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
    {% block styles %}
    {{ pt.snippets.assets.stylesheet('/_system/css/system.css') }}
    {% endblock %}

	<title>{% block title %}{% endblock title %}</title>
</head>
<body>
	
    {% block body %}
	<div class="pt-body">
	{% block content %}{% endblock content %}	
	</div>	
    {% endblock body %}
	
</body>	
</html>
