{% extends "system/layouts/system.twig" %}

{% set title = '404 - Page not found' %}

{% block content %}

<div class="pt-content-block">
    
    <h1>Page not found.</h1>
    <p>Please check the URL and try again.</p>
    
</div>
    
{% endblock content %}