{% extends "_system/layouts/docs.twig" %}

{% block title %}
Welcome {{ parent() }}
{% endblock title %}

{% block main %}

<div class="pt-content-block">
{{ pt.data.get(dataPath) }}    
</div>
    
{% endblock main %}