{% extends "_system/layouts/docs.twig" %}

{% block title %}
Welcome {{ parent() }}
{% endblock title %}

{% block main %}

<div class="pt-content-block">
{% set contents = pt.data.get(dataPath) %}
{% if contents %}
{{ contents }}
{% else %}
<p>Coming soon.</p>
{% endif %}
</div>
    
{% endblock main %}