@orange: #FF8400;
@green: #56DB3A;
@fuchsia: #D623A2;

pre {
    display: block;
    font-family: monospace;
    padding: 0;
    line-height: 1.6;
    overflow-x: scroll;
    margin-bottom: 18px;
    background: #232125;
}

pre > ol {
    margin: 0 0 0 0;
    padding: 10px 0 14px 0;
    border-left: 36px solid #EEE;
    counter-reset: item;
    list-style-type: none;
}
pre .li1 {
    display: block;
    font-size: 0.85em;
    margin-bottom: 0;
    color: #888;
    margin-left: 10px;
    display: block;
    &:before { 
        content: counter(item) "  "; 
        counter-increment: item; 
        float: left;
        margin-left: -36px;
    }
}
pre .de1 {
    color: #CCC;
}

pre.yaml {
    .co4,
    .co3 {
        color: @orange;
    }
    .co1 {
        color: #666;
    }
    .br0 {
        color: @green;
        font-weight: bold;
    }
}
 
pre.twig {
    .de1 {
        color: #999;
    }
    a {
        text-decoration: none;
    }
    a .kw4 {
        color: @fuchsia;
        text-decoration: underline;
    }
    .kw6 {
        color: #999;
        .br0 {
            font-weight: normal;
            color: #999;
        }
    }
    .st0 {
        color: @green;
    }
    .nu0 {
        color: @green;
    }
    .kw1 {
        color: @orange;
        text-decoration: underline;
    }
    .sy0 {
        color: #FFF;
    }
    .re0,
    .re1,
    .re2,
    .kw2 {
        color: #DDD;
    }
    .br0 {
        color: #FFF;
        font-weight: bold;
    }
    .coMULTI {
        color: #666;
    }
}

pre.xml {
    .sc-1 {
        color: #999;
    }
}
