@linkcolor: #0562a8;

/* Basics */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    background: #EFEFEF;
    padding-bottom: 50px;
}
a {
    color: @linkcolor;
}
h1 {
    font-size: 23px;
    background-color: #F7F7F7;
    padding: 0.45em 15px 0.4em 15px;
    margin-bottom: 0.8em;
    margin: -10px -10px 0.8em -10px;
    color: #023962;
}
h2 {
    font-size: 19px;
    margin-bottom: 0.8em;
    margin-top: 1.0em;
    border-bottom: 1px solid #DDD;
    padding-bottom: 0.3em;
    color: #023962;
}
h3 {
    font-size: 17px;
    margin-bottom: 0.6em;
    margin-top: 1.2em;
    color: #023962;
}
p {
    font-size: 16px;
    margin-top: 0.6em;
    margin-bottom: 0.8em;
}
ul, ol {
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 15px;
}
li {
    margin-bottom: 4px;
}
.lead {
    font-size: 17px;
    color: #888;
}
p code,
li code {
    background: #FFFEEB;
    font-family: monospace;
    font-size: 0.85em;
    color: #222;
    display: inline-block;
    padding: 0 2px;
}

/* Common */

.receptacle-inner {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

.site-header {
    background: #023962;
    .receptacle-inner {
        padding: 8px 0 10px 0;
        overflow: hidden;
    }
    .branding {
        color: #FFF;
        text-decoration: none;
        font-size: 18px;
        float: left;
    }
    .version {
        color: #FFF;
        opacity: 0.65;
        font-size: 0.9em;
        float: right;
        position: relative;
        top: 4px;
    }
}

/* Body */

.site-body {
    padding-top: 30px;
    > .receptacle-inner {
        padding-left: 260px;
    }
    .aside {
        float: left;
        margin-left: -260px;
    }
    .main {
        width: 100%;
    }
}

/* Content */

.pt-content-block {
    background: #FFF;
    padding: 19px 20px 21px 20px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;    
    border-bottom: 2px solid #CCC;
    :last-child {
        margin-bottom: 0;
    }
}

/* Nav */

.nav--primary {
    ul {
        list-style: none;
        margin-left: 0;
        margin-bottom: 3px;
    }
    li {
        margin-bottom: 0;
        line-height: 1.4;
    }
    .level-1 ul {
        padding-left: 20px;
        display: none;
    }
    .level-0 .is-parent ul,
    .level-0 .is-current ul {
        display: block;
    }
    a {
        text-decoration: none;
        display: block;
        padding: 3px 10px;
        color: #333;
    }
    a:hover {
        text-decoration: underline;
    }
    .level-0 > a,
    .level-1 > a {
        font-weight: bold;
    }
    .is-current > a {
        color: #0562a8;
    }    
}

.nav-inpage {
    ul {
        list-style: none;
        margin: 0;
    }
    ul ul {
        margin-left: 20px;
    }
    li a:before {
        content: "→";
        display: inline-block;
        margin-right: 5px;
        color: #999;
        position: relative;
        top: 1px;
    }
}

/* Breadcrumb */

.breadcrumb {
    font-size: 0;
    list-style: none;
    margin: 0 0 12px 0;
    color: #888;
    li {
        font-size: 14px;
        display: inline-block;
        &:after {
            content: "→";
            display: inline-block;
            margin-right: 5px;
            color: #999;
            position: relative;
            top: 1px;
        }
        &:last-child {
            &:after {
                display: none;
            }   
        }
    }
    a {
        color: #777;
    }
}

/* notes */

.note {
    background: #f0f7f9;
    padding: 10px;
    color: #1f859b;
    border-top: 1px solid #d6ecf2;
    border-bottom: 1px solid #d6ecf2;
    p {
       margin: 0;
   }
}

/* Tables */

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
}
td, th {
    font-size: 15px;
    background: #FBFBFB;
    border: 1px solid #DDD;
    padding: 5px 10px;
    text-align: left;
}
td {
    color: #555;
}
th {
    font-weight: bold;
}

/* Method reference */

.method-ref {
    .method {
        padding: 1px 0 15px 15px;
        margin-bottom: 15px;
        border-left: 4px solid #EEE;
    }
    .sub-title {
        border-bottom: 1px solid #DDD;
        margin-bottom: 8px;
        padding-bottom: 3px;
    }
    .method-links {
        list-style: none;
        margin: 0 0 20px 0;
        font-family: monospace;
        font-size: 15px;
        li a {
            color: #888;
            text-decoration: none;
        }
        li a:hover {
            text-decoration: underline;
        }
        li .name {
            color: #333;
            font-weight: bold;
        }
        li a:before {
            content: "→";
            font-family: sans-serif;
            display: inline-block;
            margin-right: 5px;
            color: #999;
            position: relative;
            top: 1px;
        }
    }
    .method p {
        font-size: 16px;
        color: #666;
        margin: 0 0 8px 0;
    }
    .method ul {
        margin-left: 0;
    }
    .method .variables em {
        color: #AAA;
    }
    .method-desc {
        background: #f0f7f9;
        padding: 10px;
        border-top: 1px solid #d6ecf2;
        border-bottom: 1px solid #d6ecf2;
        padding: 5px 10px;
        p {
            color: #1f859b;
            &:last-child {
                margin-bottom: 0
            }        
        }
    }
    .method .hint {
        color: #999;
        font-size: 15px;
    }
    .method .hint a {
        color: #777;
    }
    .method ul li {
        font-size: 16px;
        color: #666;
        list-style: none;
    }
    .method pre {
        margin-top: 14px;
    }
    .method-title {
        margin-top: -1px;
        margin-bottom: 16px;
        margin-left: -19px;
        font-family: monospace;
        font-weight: normal;
        padding: 5px 10px 7px 19px;
        color: #999;
        background: #EEE;
        
    }
    .method-title .name {
        font-weight: bold;
        color: #222;
    }
    .method-title .var {
        font-weight: normal;
        color: #666;
    }
    pre > ol {
        border-left: 0;
    }
}

@import "css/code"
