{% extends "_layouts/skeleton.twig" %}

{% set content %}

# Enabling 'clean' URLs

By default, all Prontotype URLs have an `index.php` segment at the start of them - e.g. `http://example.com/index.php/zoo/zebra`

If you are using Apache as a web server, you can easily remove the `index.php` segment by renaming the `htaccess.txt` file in the root of the Prontotype install to `.htaccess`.

And that's it! Your URLs should now be index.php free.

<p class="note">Note that file names beginning with a dot will make the file 'invisible' in many operating systems, so you may not be able to see it in your file browser.</p>

{% endset %}
