{% extends "_system/layouts/skeleton.twig" %}

{% block title %}
404 - Page not found
{% endblock title %}

{% block content %}

<div class="pt-content-block">
    
    <h1>Page not found.</h1>
    <p>Please check the URL and try again.</p>
    
</div>
    
{% endblock content %}