{% extends "_system/layouts/skeleton.twig" %}

{% block title %}
An error has occurred
{% endblock title %}

{% block content %}

<div class="pt-content-block">
    
    <h1>An error has occurred.</h1>
    <p>Computer says: {{ message }}</p>
    
</div>

{% endblock content %}