{% extends "_layouts/skeleton.twig" %}

{% set content %}

# Prontotype Overview

<p class="lead">Prontotype is a lightweight, server-side, filesystem-based framework designed to help you quickly build high-fidelity, interactive and data-driven HTML prototypes.</p>

## Prontotype features at a glance

* Quickly build linked, multi-page prototypes with realistic URLs
* Define reusable chunks of HTML to make prototype-wide updates quick and easy
* Separate your layouts from your content using powerful template inheritance
* Mock-up everything from simple login behaviours to complex role-based authentication scenarios
* Use YAML, JSON, CSV or XML files to define data structures that will be accessible throughout your prototype
* Write CSS using Less or Sass (SCSS) and have it automatically compiled for use in your protoype
* Give your pages IDs so you can move them around easily without breaking links
* Use whatever frontend prototyping framework you like
* Auto-generate navigation, forms and more using in-built macros
* Serve multiple prototypes from a single Prontotype install
* And plenty more!

{% endset %}